@import "../../../../../styles/vars.scss";

.checkBox {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__item-title {
        color: rgb(0, 0, 0);
        font-weight: 700;
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__more {
        color: $accent-color;
        background-color: transparent;
        width: fit-content;
    }
}